body{
    background-image:url(efe-kurnaz-RnCPiXixooY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    color: white;
}
#box{
    width: 905px;
    height: 600px;
    background-color: aliceblue;
    margin-left: 300px;
    margin-right: 300px;
}

.button{
    background-color: blue;
    color: white;
}
textarea{
    width: 250px;
    height: 50px;
}
